[submodule "Extern/volk"]
	path = Extern/volk
	url = git@github.com:zeux/volk.git
[submodule "Extern/glm"]
	path = Extern/glm
	url = git@github.com:g-truc/glm.git
[submodule "Extern/glfw"]
	path = Extern/glfw
	url = git@github.com:glfw/glfw.git
